<app-sidebar></app-sidebar>

<div class="content-page">
  <!-- Start Content-->
  <div class="container">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Liste</a></li>
              <li class="breadcrumb-item active">Devise</li>
            </ol>
          </div>
          <h4 class="page-title">Devise</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <div class="row">
            <form [formGroup]="deviseForm" (ngSubmit)="onSubmit()" class="form-horizontal">
              <div class="form-group row">
                <label for="devisesLibelle" class="col-md-2 control-label">Devise <span class="text-danger">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="devisesLibelle" formControlName="devisesLibelle" maxlength="254">
                  <div *ngIf="formSubmitted && !deviseForm.get('devisesLibelle')?.valid" class="text-danger">Ce champ est requis.</div>
                </div>
              </div>

              <div class="form-group row">
                <label for="devisesAcronyme" class="col-md-2 control-label">Acronyme <span class="text-danger">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="devisesAcronyme" formControlName="devisesAcronyme" maxlength="254">
                  <div *ngIf="formSubmitted && !deviseForm.get('devisesAcronyme')?.valid" class="text-danger">Ce champ est requis.</div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                  <button class="btn width-md btn-bordered margin-btn btn-success waves-effect waves-light me-2" type="submit">Modifier</button>
                  <a [routerLink]="['/devises']">
                    <button class="btn btn-danger text-left btn-ml" type="button">Retour</button>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container-fluid -->
</div>
