<app-sidebar></app-sidebar>

<div class="content-page">
  <!-- Start Content-->
  <div class="container">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
              <li class="breadcrumb-item active">Paramétrage</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Paramétrage</h1>
        </div>
      </div>
      <div class="menu-container mt-2">
        <div class="menu-box shadow" routerLink="/bailleurFond">
          <div>
            <i class="fas fa-hand-holding-usd"></i>
            <p>Bailleur fond</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getCategorie">
          <div>
            <i class="fas fa-tags"></i>
            <p>Catégorie</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/devises">
          <div>
            <i class="fas fa-coins"></i>
            <p>Devise</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/envDev">
          <div>
            <i class="fas fa-laptop-code"></i>
            <p>Environnement de développement</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/methodologie">
          <div>
            <i class="fas fa-project-diagram"></i>
            <p>Méthodologie</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/technologie">
          <div>
            <i class="fas fa-microchip"></i>
            <p>Technologie</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/secteurActivite">
          <div>
            <i class="fas fa-industry"></i>
            <p>Secteur d'activité</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getPays">
          <div>
            <i class="fas fa-flag"></i>
            <p>Pays</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getLieu">
          <div>
            <i class="fas fa-map-marker-alt"></i>
            <p>Lieu</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/role">
          <div>
            <i class="fas fa-user-tag"></i>
            <p>Rôle</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getNature">
          <div>
            <i class="fas fa-people-arrows"></i>
            <p>Nature Client</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/users">
          <div>
            <i class="fas fa-users"></i>
            <p>Utilisateurs</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/typeDocument">
          <div>
            <i class="fas fa-file-alt"></i>
            <p>Type de document</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getSituation">
          <div>
            <i class="fas fa-heart"></i>
            <p>Situation familiale</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/getLangue">
          <div>
            <i class="fas fa-language"></i>
            <p>Langue</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/cvLangueNiveau">
          <div>
            <i class="fas fa-signal"></i>
            <p>CV langue niveau</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/typeDiplome">
          <div>
            <i class="fas fa-graduation-cap"></i>
            <p>Type diplôme</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/employePoste">
          <div>
            <i class="fas fa-briefcase"></i>
            <p>Poste employé</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/moyenLivraison">
          <div>
            <i class="fas fa-truck"></i>
            <p>Moyen de livraison</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/employeLangueNiveau">
          <div>
            <i class="fas fa-signal"></i>
            <p>Employé langue niveau</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
