<div id="app">
    <app-sidebar></app-sidebar>
  
    <div class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Xtensus</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Employe Experience</a></li>
                                <li class="breadcrumb-item active">Modifier</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Modifier Employe Experience</h4>
                    </div>
                </div>
            </div>
  
            <div class="row">
                
                    <div class="card-box">
                        <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>   employeExperiencePoste</label>
                                <input type="text" id="employeExperiencePoste" formControlName="employeExperiencePoste" class="form-control">
                            </div>
                            <div class="form-group">
                                <label> employeExperienceOragnismeEmployeur</label>
                                <input type="text" id="employeExperienceOragnismeEmployeur" formControlName="employeExperienceOragnismeEmployeur" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>  employeExperiencePeriode:</label>
                                <input type="text" id="employeExperiencePeriode" formControlName="employeExperiencePeriode" class="form-control">
                            </div>
                            <div class="form-group">
                                <label> employeExperienceFonctionOccupe</label>
                                <input type="text" id="employeExperienceFonctionOccupe" formControlName="employeExperienceFonctionOccupe" class="form-control">
  
                            </div>
                           
                            <div class="form-group">
                                <label for="employeId"> employe</label>
                                <select id="employeId" formControlName="employeId" class="form-control">
                                    <option *ngFor="let employe of employes" [value]="employe.id">
                                        {{employe.personneContact }}
                                    </option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn width-md btn-bordered margin-btn  btn-success waves-effect waves-light" >Modifier</button>
                                <a [routerLink]="['/getExperience']">
                                    <button class="btn btn-danger text-left btn-ml"> Retour
                                    </button>
                                </a>
                            </div>
  
                        </form>
                    
                    </div>
            </div>
        </div>
    </div>
  </div>
  