<app-sidebar></app-sidebar>

<div class="content-page">
  <!-- Start Content-->
  <div class="container">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Ajouter</a></li>
              <li class="breadcrumb-item active">Poste employé</li>
            </ol>
          </div>
          <h4 class="page-title">Poste employé</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <div class="row">
            <form [formGroup]="posteForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label class="col-md-2 control-label">Poste employé <span class="text-danger">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="employePosteLibelle" formControlName="employePosteLibelle" name="employePosteLibelle" maxlength="254">
                  <div *ngIf="formSubmitted && posteForm.get('employePosteLibelle')?.errors?.['required']" class="text-danger">Ce champ est requis.</div>
                </div>
              </div>
              <div class="col-md-10 offset-md-2 p-0">
                <button type="submit" class="btn width-md btn-bordered margin-btn  btn-success waves-effect waves-light ms-1" >créer</button>
                <a [routerLink]="['/employePoste']">
                  <button class="btn btn-danger text-left btn-ml ms-2"> Retour
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container-fluid -->
</div>
