<app-sidebar></app-sidebar>

<div class="content-page">
  <!-- Start Content-->
  <div class="container pb-5">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Liste</a></li>
              <li class="breadcrumb-item active">Pays</li>
            </ol>
            <div class="row mb-3">
              <div class="col-12">
                <a [routerLink]="['/createPays']">
                  <button class="btn btn-success" title="Cliquez ici pour ajouter">
                    <i class="fas fa-plus"></i> Ajouter
                  </button>
                </a>
              </div>
            </div>
          </div>

          <h4 class="page-title">Pays</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box">
          <form>
            <div class="col-sm-3 ms-auto mb-4">
              <input type="text" [(ngModel)]="libelleFilter" class="form-control" name="search" (input)="filterByLibelle()" placeholder="Recherche">
            </div>
          </form>
          <div class="table-rep-plugin">
            <div class="table-responsive mb-0" data-pattern="priority-columns">
              <table id="pays-table" class="table table-striped mb-0">
                <thead>
                <tr>
                  <th class="libelle-column" (click)="onSort('paysLibelle')" [class.sorted]="sortColumn === 'paysLibelle'">
                    Pays
                    <i [ngClass]="sortColumn === 'paysLibelle' ? (sortDirection === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'"></i>
                  </th>
                  <th class="libelle-column" (click)="onSort('paysCapitale')" [class.sorted]="sortColumn === 'paysCapitale'">
                    Capitale
                    <i [ngClass]="sortColumn === 'paysCapitale' ? (sortDirection === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'"></i>
                  </th>
                  <th class="libelle-column" (click)="onSort('continentName')" [class.sorted]="sortColumn === 'continentName'">
                    Continent
                    <i [ngClass]="sortColumn === 'continentName' ? (sortDirection === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'"></i>
                  </th>
                  <th class="actions-column">Action</th>
                </tr>
                </thead>
                <tbody *ngIf="pays$ | async as pays">
                <tr *ngFor="let pays of pays">
                  <td class="libelle-column">{{ pays.paysLibelle }}</td>
                  <td class="libelle-column">{{ pays.paysCapitale }}</td>
                  <td class="libelle-column">{{ pays.continentName }}</td>
                  <td class="actions-column">
                    <div class="actions-buttons">
                      <a [routerLink]="['/putPays', pays.paysId]">
                        <button class="btn btn-primary btn-sm" title="Cliquez ici pour modifier">
                          <i class="fas fa-edit"></i>
                        </button>
                      </a>
                      <button class="btn btn-danger btn-sm" (click)="deletePaysById(pays.paysId)" title="Cliquez ici pour supprimer">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  (pageChange)="onPageChange()">
                </ngb-pagination>
                <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPays()">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="15">15</option>
                  <option [ngValue]="20">20</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
