<app-sidebar></app-sidebar>

<div class="content-page">
    <!-- Start Content-->
    <div class="container">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Liste</a></li>
                            <li class="breadcrumb-item active">Moyen de livraison</li>
                        </ol>
                    </div>


                    <h4 class="page-title">Moyen de livraison</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <form (ngSubmit)="createMoyenLivraison()" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-2 control-label">Moyen de livraison <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                        <input type="text" class="form-control" [(ngModel)]="newLivraison.moyenLivraison" name="Moyen de livraison" maxlength="254">
                                        <div *ngIf="formSubmitted && !newLivraison.moyenLivraison" class="text-danger">Ce champ est requis.</div>
                                </div>
                            </div>
                            <div class="col-md-10 offset-md-2">
                                <button class="btn width-md btn-bordered margin-btn  btn-success waves-effect waves-light" type="submit">Ajouter</button>
                                <a [routerLink]="['/moyenLivraison']">
                                    <button class="btn btn-danger text-left btn-ml"> Retour
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>


    </div>
    <!-- end container-fluid -->



    <!-- end content -->






    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
