<app-sidebar></app-sidebar>

<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Liste</a></li>
                            <li class="breadcrumb-item active">Organisme demandeur</li>
                        </ol>
                        <div class="row mb-3">
                            <div class="col-12">
                                <a [routerLink]="['/createOrganisme']">
                                    <button class="btn btn-success">
                                        <i class="fas fa-plus"></i> Ajouter
                                    </button>
                                </a>                                
                            </div>
                        </div>
                    </div>
                    <h4 class="page-title">Organisme Demandeur</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <form (ngSubmit)="createOrganisme()" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-2 control-label">Organisme demandeur</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" [(ngModel)]="newOrganisme.organismeDemandeurLibelle" name="organismeDemandeur" required>
                                    <div *ngIf="formSubmitted && !newOrganisme.organismeDemandeurLibelle" class="text-danger">Ce champ est requis.</div>
                                </div>
                            </div>
                            <div class="col-md-10 offset-md-2">
                                <button class="btn width-md btn-bordered margin-btn  btn-success waves-effect waves-light" type="submit">Ajouter</button>
                                <a [routerLink]="['/getOrganisme']">
                                    <button class="btn btn-danger text-left btn-ml"> Retour
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
